@import 'style-variables';

@media   (max-width:768px) {
  .open{
    @include transition-method(0.5s);
    height: 40vh !important;
  }
  .top-header{
    display: none;
  }
  header{
    margin-top:0px;
  .logo-section{
    display: block;
    width:100%;
    text-align: center;
    margin:0px;
    img{
      display: inline-block;
    }
  }
  .header-menu{
    display: none;
  }
  .mobil-menu-btn{
    display: block;
    padding: 0px 15px;
    i{
      color:$weightBlueColor;
    }
    .top-line{
      margin-top:6px;
      height: 2px;
      background-color:$weightBlueColor;
      width: 24px;
      @include transition-method(.5s);
    }
    .middle-line{
      margin-top:6px;
      height: 2px;
      background-color:$weightBlueColor;
      width: 24px;
      @include transition-method(.5s);
    }
    .bottom-line{
      margin-top:6px;
      height: 2px;
      background-color:$weightBlueColor;
      width: 24px;
      @include transition-method(.5s);
    }
    &.opened{
      .top-line{
        @include transition-method(.5s);
        @include rotateMethod(45deg);
      }
      .middle-line{
        margin-top:0px;
        @include transition-method(.5s);
        display: none;
      }
      .bottom-line{
        margin-top:0px;
        @include transition-method(.5s);
        @include rotateMethod(-45deg);
      }
    }
  }
  .mobile-menu{
    height: 1px;
    overflow: hidden;
    @include transition-method(0.5s);
    padding: 0px 15px;
    ul {
      margin:15px 0px;
      li{
        a{
          color:$weightBlueColor;
        }
      }
    }
    .social{
      float: left;
      width:100%;
      ul {
        margin:15px 0px;
        li{
          float: left;
          margin-left:5px;
          a{
            color:$weightBlueColor;
          }
        }
      }
    }
    .language{
      float: left;
      width:100%;
      ul {
        margin:15px 0px;
        li{
          float: left;
          margin-left:5px;
          a{
            color:$weightBlueColor;
          }
        }
      }
    }
  }
  }


.banner-section {
  height:300px;
  top: 95px;
  overflow: visible;
  .triangle-section-upper{
    display: none;
  }
  .triangle-section{
    display: none;
  }
    .main-slider {
      height: 300px;

      .main-slider-item {
        img {
          object-fit: cover;
          height: 300px;
        }
        .main-slider-content{
          text-align: center;
          bottom: 0px;
          width: 100%;
          left: 0px;
          top: 0;
          text-align: center;
          h3{
            fonts-size:16px;
          }
          .slider-btn{
            height: 35px;
            line-height: 35px;
          }
        }
      }
    }

  /*.owl-nav {
    button{
      position: relative;
    }
  }  */
  }

  .counter-section{
    position: relative;
    margin:15px 0px;

    .col-md-3{
      border-bottom: 1px solid $weightBlueColor;
      margin-bottom:15px ;
    }
  }

  .webiner-platform {
    background: $weightBlueColor;
    .triangle-right-wight-blue{
      display: none;
    }
    .webiner-inside {
      position: relative;


      .webiner-desc{
        width: 100%;
        padding: 0px 15px;
        margin: 20vh 0 0 0;
      }
      .webiner-img {
        width: 20%;
        img{
          height: 20vh;
          top: 0;
        }
      }
    }
  }
  .live-solution{
    width:100%;
    .home-services {
      .home-service-box{
        width:100%;
        height: auto;
         h3 {
          font-size: 16px;
        }
        h4{
          font-size: 15px;
        }
        .home-services-desc {
          .red-line{
            width: 4px;
          }
          p{
            padding-left: 15px;
            font-size: 12px;
          }
        }
      }
    }
    .rightwhite{
      display: none;
    }
    .rightred{
      display: none;
    }
    .live-box{
      .testimonials-img{
        margin-bottom:15px;
      }
    }

  }

  .what-are-we-doing {
    #wedoing {
        .owl-nav {
          button{
            position: relative;
          }
          .owl-next {
            span {
              right: -50px;
              font-size: 50px;
            }
          }
          .owl-prev {
            span {
              left: -50px;
              font-size: 50px;
            }
          }
        }
        .owl-dots{
          display: none;
        }



      .item {
        .item-hover {
          .item-hover-img {
            img{
              width:40vw;
            }
          }
        }
      }
    }
  }
  .fly-rules {
    .fly-rules-img{
      margin-bottom:15px;
    }
  }
  .moon-section {
    .moon-out{
      height: 300px;
      width: 300px;
    }
    .moon {
      height: 300px;
      width: 300px;
      .moon-inside{
        height: 250px;
        width: 250px;
        .contact-info {
          .homepage-title {
            h3{
            }
          }
          ul{
            li{
              a{
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .footer-inside {
      .footer-menu {
        ul {
          li{
            width: 100%;
            text-align: left;
          }
        }
      }
    }
  }
}
