@media (max-width: 768px) {
  .open {
    transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    height: 40vh !important; }

  .top-header {
    display: none; }

  header {
    margin-top: 0px; }
    header .logo-section {
      display: block;
      width: 100%;
      text-align: center;
      margin: 0px; }
      header .logo-section img {
        display: inline-block; }
    header .header-menu {
      display: none; }
    header .mobil-menu-btn {
      display: block;
      padding: 0px 15px; }
      header .mobil-menu-btn i {
        color: #03073c; }
    header .mobile-menu {
      height: 1px;
      overflow: hidden;
      transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -webkit-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      padding: 0px 15px; }
      header .mobile-menu ul {
        margin: 15px 0px; }
        header .mobile-menu ul li a {
          color: #03073c; }
      header .mobile-menu .social {
        float: left;
        width: 100%; }
        header .mobile-menu .social ul {
          margin: 15px 0px; }
          header .mobile-menu .social ul li {
            float: left;
            margin-left: 5px; }
            header .mobile-menu .social ul li a {
              color: #03073c; }
      header .mobile-menu .language {
        float: left;
        width: 100%; }
        header .mobile-menu .language ul {
          margin: 15px 0px; }
          header .mobile-menu .language ul li {
            float: left;
            margin-left: 5px; }
            header .mobile-menu .language ul li a {
              color: #03073c; }

  .banner-section {
    height: 300px;
    top: 95px;
    overflow: visible;
    /*.owl-nav {
      button{
        position: relative;
      }
    }  */ }
    .banner-section .triangle-section-upper {
      display: none; }
    .banner-section .triangle-section {
      display: none; }
    .banner-section .main-slider {
      height: 300px; }
      .banner-section .main-slider .main-slider-item img {
        object-fit: cover;
        height: 300px; }
      .banner-section .main-slider .main-slider-item .main-slider-content h3 {
        fonts-size: 16px; }

  .webiner-platform {
    background: #03073c; }
    .webiner-platform .triangle-right-wight-blue {
      display: none; }
    .webiner-platform .webiner-inside {
      position: relative; }
      .webiner-platform .webiner-inside .webiner-desc {
        width: 100%;
        padding: 0px 15px;
        margin: 20vh 0 0 0; }
      .webiner-platform .webiner-inside .webiner-img {
        width: 20%; }
        .webiner-platform .webiner-inside .webiner-img img {
          height: 20vh;
          top: 0; }

  .live-solution {
    width: 100%; }
    .live-solution .home-services .home-service-box {
      width: 100%;
      height: auto; }
      .live-solution .home-services .home-service-box h3 {
        font-size: 16px; }
      .live-solution .home-services .home-service-box h4 {
        font-size: 15px; }
      .live-solution .home-services .home-service-box .home-services-desc .red-line {
        width: 4px; }
      .live-solution .home-services .home-service-box .home-services-desc p {
        padding-left: 15px;
        font-size: 12px; }
    .live-solution .rightwhite {
      display: none; }
    .live-solution .rightred {
      display: none; }

  .what-are-we-doing #wedoing .owl-nav button {
    position: relative; }
  .what-are-we-doing #wedoing .owl-nav .owl-next span {
    right: -50px;
    font-size: 50px; }
  .what-are-we-doing #wedoing .owl-nav .owl-prev span {
    left: -50px;
    font-size: 50px; }
  .what-are-we-doing #wedoing .owl-dots {
    display: none; }
  .what-are-we-doing #wedoing .item .item-hover .item-hover-img img {
    width: 40vw; }

  .fly-rules .fly-rules-img {
    margin-bottom: 15px; }

  .moon-section .moon-out {
    height: 300px;
    width: 300px; }
  .moon-section .moon {
    height: 300px;
    width: 300px; }
    .moon-section .moon .moon-inside {
      height: 250px;
      width: 250px; }
      .moon-section .moon .moon-inside .contact-info ul li a {
        font-size: 13px; }

  footer .footer-inside .footer-menu ul li {
    width: 100%;
    text-align: left; } }

/*# sourceMappingURL=responsive.css.map */
