@import 'style-variables';

@media   (max-width:768px) {
  .open{
    @include transition-method(0.5s);
    height: 40vh !important;
  }
  .top-header{
    display: none;
  }
  header{
    margin-top:0px;
  .logo-section{
    display: block;
    width:100%;
    text-align: center;
    margin:0px;
    img{
      display: inline-block;
    }
  }
  .header-menu{
    display: none;
  }
  .mobil-menu-btn{
    display: block;
    padding: 0px 15px;
    i{
      color:$weightBlueColor;
    }
  }
  .mobile-menu{
    height: 1px;
    overflow: hidden;
    @include transition-method(0.5s);
    padding: 0px 15px;
    ul {
      margin:15px 0px;
      li{
        a{
          color:$weightBlueColor;
        }
      }
    }
    .social{
      float: left;
      width:100%;
      ul {
        margin:15px 0px;
        li{
          float: left;
          margin-left:5px;
          a{
            color:$weightBlueColor;
          }
        }
      }
    }
    .language{
      float: left;
      width:100%;
      ul {
        margin:15px 0px;
        li{
          float: left;
          margin-left:5px;
          a{
            color:$weightBlueColor;
          }
        }
      }
    }
  }
  }


.banner-section {
    .main-slider {
      .main-slider-item {
        img {
          object-fit: cover;
        }
      }
    }
  }


  .webiner-platform {
    background: $weightBlueColor;
    .triangle-right-wight-blue{
      display: none;
    }
    .webiner-inside {
      position: relative;


      .webiner-desc{
        width: 100%;
        padding: 0px 15px;
        margin: 20vh 0 0 0;
      }
      .webiner-img {
        width: 20%;
        img{
          height: 20vh;
          top: 0;
        }
      }
    }
  }
  .live-solution{
    width:100%;
    .home-services {
      .home-service-box{
        width:100%;
        height: auto;
         h3 {
          font-size: 16px;
        }
        h4{
          font-size: 15px;
        }
        .home-services-desc {
          .red-line{
            width: 4px;
          }
          p{
            padding-left: 15px;
            font-size: 12px;
          }
        }
      }
    }
    .rightwhite{
      display: none;
    }
    .rightred{
      display: none;
    }
  }

  .what-are-we-doing {
    #wedoing {
        .owl-nav {
          button{
            position: relative;
          }
          .owl-next {
            span {
              right: -50px;
              font-size: 50px;
            }
          }
          .owl-prev {
            span {
              left: -50px;
              font-size: 50px;
            }
          }
        }
        .owl-dots{
          display: none;
        }



      .item {
        .item-hover {
          .item-hover-img {
            img{
              width:40vw;
            }
          }
        }
      }
    }
  }
  .fly-rules {
    .fly-rules-img{
      margin-bottom:15px;
    }
  }
}
